body
  font-size: .12rem
  position: absolute
  top: 0
  bottom: 0
  width: 100%
  display: -webkit-flex
  -webkit-flex-direction: column

.header
  height: .44rem
  line-height: .44rem
  position: relative
  display: -webkit-flex
  background: #3A3B40
  .close
    position: absolute
    left: .1rem
    top: 0
    color: #ffffff
    i
      border-right: 1px solid #2B2C31
      padding-right: .1rem
  h4
    color: #fff
    margin-left: .5rem
    font-size: .14rem
    font-weight: normal
  .more
    position: absolute
    right: .1rem
    top: 0
    color: #ffffff

.content
  -webkit-flex: 1
  overflow-y: scroll
  background: #828E9C
  .login
    margin: .8rem 5% 0
    width: 90%
    background: #ffffff
    border-radius: 10px
    padding-bottom: .8rem
    .login-title
      text-align: center
      .pic
        width: 1.3rem
        height: .44rem
        margin: 0 auto
        padding-top: .2rem
        img
          width: 100%
          height: 100%
      p
        font-size: .16rem
        margin-top: .04rem
    .login-form
      width: 100%
      margin-top: .1rem
      .form
        width: 86%
        height: .4rem
        line-height: .4rem
        margin: 0 7%
        display: -webkit-flex
        padding-top: .2rem
        border-bottom: 1px solid #666666
        .pic
          width: .15rem
          height: .2rem
          margin-left: .15rem
          margin-top: .05rem
          img
            width: 100%
            height: 100%
        input
          -webkit-flex: 1
          border: none
          padding-left: .1rem
          padding-right: .1rem
          box-sizing: border-box
      .psd
        border-color: rgba(48,186,120,.4)
        margin-top: .1rem
      .btn
        background: #30BA78
        color: #ffffff
        width: 86%
        height: .4rem
        margin: .4rem 7% 0
        border: none
        border-radius: 5px